body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
}

.banner {
    width: 100%;
    background: url('images/banner.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centriranje unutar bannera */
    justify-content: center;  /* Vertikalno centriranje */
    position: relative;
    padding: 10px;
}

.banner h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    text-align: center;  /* Centriranje teksta */
}

.banner p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: -20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;  /* Centriranje teksta */
}

.button {
    padding: 15px 30px;
    background-color: #ffcc00;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.5s ease;
    display: inline-block;  /* Gumb je sada inline-block */
}

.button:hover {
    background-color: #e6b800;
}


nav {
    background-color: #1a4e99; 
    padding: 20px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap; 
    width: 100%;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.3rem; 
    font-weight: 500; 
    padding: 10px 25px;
    border-radius: 30px;
    transition: color 0.3s ease; 
    position: relative;
}

nav ul li a:hover {
    color: #ffcc00; 
}

nav ul li a:hover::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffcc00;
}

nav ul li a.active::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffcc00;
}


.intro-features {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 40px;
    flex-wrap: wrap;
}

.feature {
    padding: 15px;
    border-radius: 8px;
    width: 20%; 
    text-align: center;

    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature i {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.feature p {
    font-size: 1rem;
    color: #555;
}

/* Stilizacija za .text div */
.text {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 5%;
    margin-top: 10px;
    justify-content: center;  /* Centriranje sadržaja */
}

.text figure {
    margin: 0;
    width: 40%;
}

.text .text-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text figcaption {
    text-align: center;
    font-style: italic;
    color: #555;
    margin-top: 10px;
}

/* Stilizacija za tekst */
.text-description {
    flex: 1;
    text-align: left;
}

.text-description h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.text-description h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #007bff;
    margin-bottom: 20px;
}

.text-description p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

.text-description a.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.text-description a.button:hover {
    background-color: #0056b3;
}

.offers {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5%;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 30%;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 4px solid #f0f0f0;
}

.card-info {
    padding: 5px 40px 20px 40px;
	text-align: center;
}

.card-info h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
	text-align: center;
}

.card-info p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
    text-align: center;
}

.card-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #888;
}

.card-icons span {
    display: flex;
    align-items: center;
}

.card-icons i {
    margin-right: 5px;
    font-size: 1.2rem;
}

.card-info .button {
    display: center;
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.7s ease;
}

.card-info .button:hover {
    background-color: #0056b3;
}

.card-info .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a4e99;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .banner {
        height: 200px;
    }

    .banner h1 {
        font-size: 1.8rem;
        text-align: center;
    }
    
    .banner p {
        font-size: 1rem;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .intro-features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 80%;
    }

    .text {
        flex-direction: column;
        align-items: center;
    }

    .text figure {
        width: 80%;
    }

    .text-description {
        width: 100%;
        margin-top: 20px;
    }

    .offers {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 150px;
    }

    .banner h1 {
        font-size: 1.5rem;
    }
    
    .banner p {
        font-size: 0.8rem;
    }

    nav ul li a {
        font-size: 1rem;
    }
    
    .button {
        padding: 5px 10px;
        font-size: 0.9rem; 
        border-radius: 25px;
    }
}
